Source: lfanew
Section: devel
Priority: optional
Maintainer: TK Chia <tkchia@users.noreply.github.com>
Build-Depends: debhelper (>= 9), quilt, gcc (>= 4.5), libc6-dev (>= 2)
Standards-Version: 3.9.6
Homepage: https://gitlab.com/tkchia/lfanew

Package: lfanew
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Add a .e_lfanew header field to an MS-DOS MZ executable program.
